.expired-notice {
  text-align: center;
  padding: 2rem;
}

.expired-notice > span {
  font-size: 4rem;
  font-weight: bold;
  color: #faa41a;
}

@media screen and (max-width: 1023px) {
  .expired-notice > span {
    font-size: 3.5rem;
    font-weight: bold;
    color: #faa41a;
  }
}
@media screen and (max-width: 767px) {
  .expired-notice > span {
    font-size: 3rem;
    font-weight: bold;
    color: #faa41a;
  }
}
@media screen and (max-width: 640px) {
  .expired-notice > span {
    font-size: 2.4rem;
    font-weight: bold;
    color: #faa41a;
  }
}
@media screen and (max-width: 400px) {
  .expired-notice > span {
    font-size: 1.75rem;
    font-weight: bold;
    color: #faa41a;
  }
}
.expired-notice > p {
  font-size: 1.5rem;
}

.show-counter {
  padding: 0.5rem;
}

.show-counter .countdown-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 1.25rem;
  padding-top: 1rem;
  text-decoration: none;
  color: #000;
  gap: 3rem;
}

.countdown-danger p {
  font-size: 4.5rem;
}

.countdown p {
  font-size: 4.5rem;
}
.countdown-link .countdown .box {
  background: linear-gradient(
    180deg,
    #1e1e1e 0%,
    rgba(30, 30, 30, 0.536358) 55.02%,
    rgba(30, 30, 30, 0.486731) 57.1%,
    rgba(30, 30, 30, 0.486731) 59.19%,
    rgba(30, 30, 30, 0) 100%
  );
  border-radius: 0.75rem;
  padding: 2rem 2rem 3rem 2rem;
}

.countdown-link .countdown-danger .box {
  background: linear-gradient(
    180deg,
    #1e1e1e 0%,
    rgba(30, 30, 30, 0.536358) 55.02%,
    rgba(30, 30, 30, 0.486731) 57.1%,
    rgba(30, 30, 30, 0.486731) 59.19%,
    rgba(30, 30, 30, 0) 100%
  );
  border-radius: 0.75rem;
  padding: 2rem 2rem 3rem 2rem;
}

.show-counter .countdown > span {
  text-transform: uppercase;
  font-size: 1.5rem;
  line-height: 1rem;
}
.show-counter .countdown-danger > span {
  text-transform: uppercase;
  font-size: 1.5rem;
  line-height: 1rem;
}

@media screen and (max-width: 1023px) {
  .show-counter .countdown-link {
    gap: 1.5rem;
  }
  .show-counter .countdown > span {
    font-size: 1.25rem;
  }
  .show-counter .countdown-danger > span {
    font-size: 1.25rem;
  }
}
@media screen and (max-width: 767px) {
  .show-counter .countdown-link {
    gap: 0.5rem;
  }
  .countdown-danger p {
    font-size: 3rem;
  }
  .countdown p {
    font-size: 3rem;
  }
  .show-counter .countdown > span {
    font-size: 1rem;
  }
  .show-counter .countdown-danger > span {
    font-size: 1rem;
  }
  .countdown-link .countdown .box {
    padding: 1.5rem 1.5rem 2.25rem 1.5rem;
    border-radius: 0.5rem;
  }

  .countdown-link .countdown-danger .box {
    padding: 1.5rem 1.5rem 2.25rem 1.5rem;
    border-radius: 0.5rem;
  }
}
@media screen and (max-width: 640px) {
  .show-counter .countdown-link {
    gap: 0;
  }
  .countdown-danger p {
    font-size: 2rem;
  }
  .countdown p {
    font-size: 2rem;
  }
  .show-counter .countdown > span {
    font-size: 0.75rem;
  }
  .show-counter .countdown-danger > span {
    font-size: 0.75rem;
  }
  .countdown-link .countdown .box {
    padding: 1rem 1rem 1.75rem 1rem;
  }

  .countdown-link .countdown-danger .box {
    padding: 1rem 1rem 1.75rem 1rem;
  }
}
@media screen and (max-width: 400px) {
  .countdown-danger p {
    font-size: 1.75rem;
  }
  .countdown p {
    font-size: 1.75rem;
  }
  .show-counter .countdown > span {
    font-size: 0.75rem;
  }
  .show-counter .countdown-danger > span {
    font-size: 0.75rem;
  }
  .countdown-link .countdown .box {
    padding: 1rem 1rem 1.75rem 1rem;
  }

  .countdown-link .countdown-danger .box {
    padding: 1rem 1rem 1.75rem 1rem;
  }
}

.show-counter .countdown {
  line-height: 1.25rem;
  padding: 0 0.75rem 0 0.75rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.show-counter .countdown-danger {
  line-height: 1.25rem;
  padding: 0 0.75rem 0 0.75rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.show-counter .countdown-danger {
  color: #ff0000;
}

.show-counter .countdown-danger .box > p {
  margin: 0;
  color: #ff0000;
}

.show-counter .countdown .box > p {
  margin: 0;
}
