.heading {
  text-align: center;
  font-weight: 600;
  font-size: 2rem;
}

hr {
  width: 25%;
}
img {
  max-width: 100%;
  height: auto;
  margin-top: 1rem;
}
p {
  font-size: 1.25rem;
  line-height: 1.3;
}

section {
  margin-left: 3rem;
  margin-right: 3rem;
}
